@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sollicitaties</h1>
    <br /><br />
    <img src="~/images/Talent-is.jpg" alt="logo" height="100" />
    <p>Bezoek onze website <a href="https://www.talent-is.be">www.talent-is.be</a>.</p>
    <br /><br /><br />
    <p>Wens je in onze scholengemeenschap te solliciteren? Geef ons dan je gegevens, je motivatie en je cv door.</p>
    <a asp-action="Create" asp-controller="Sollicitant" class="btn btn-rounded btn-success"><i class="fas fa-user-edit" style="margin-right:0.7em"></i>Solliciteer nu</a>
</div>